.maps{
    height:70vh;
    width: 40px;
    padding-left: 10px;
}
.site-layout-content{
   height: 90vh;
}
.fondo{
    background-color: rgb(245, 190, 190);
    height: 80vh;
    padding: 3vh;
}
.Cards{
    
}
